.bordure {
        border: 3px solid black;
}
.bleu {
        color: blue;
}
.padds {
        padding: 10px;
}
.margin {
        margin: 20px;
}

.largeur {
        width: 200px;
}
.inline {
        color: red;
}
